
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Vegetariško maisto restoranas &mdash; Vegetariško maisto restoranas</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords" content="free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />

  <!--
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE
	DESIGNED & DEVELOPED by FreeHTML5.co

	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>

	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>

	<div id="fh5co-wrap">
		<header id="fh5co-header">
			<div class="container">
				<nav class="fh5co-main-nav">
					<ul>
						<li class="fh5co-active"><a href="index.html"><span>Pagrindinis</span></a></li>
						<li><a href="services.html"><span>Paslaugos</span></a></li>
						<li><a href="about.html"><span>Kolektyvas</span></a></li>
						<li><a href="contact.html"><span>Susisiekti</span></a></li>
					</ul>
				</nav>
			</div>
		</header>

		<div class="fh5co-hero" style="background-image: url(foto/vegetariano.jpg);" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
						<div class="fh5co-intro fh5co-table-cell">
							<h1 class="text-center">Vegetariško maisto restoranas</h1>
							<p>Esame tai, ką valgome (Hipokratas)</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fh5co-section">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<h2>Subalansuota augalinė mityba</h2>
						<p>Esame šventai įsitikinę, kad vegetariška mityba gali būti subalansuota
							ir pilnavertė, patenkinanti šiuolaikinio žmogaus aktyvų gyvenimo būdą.
							Vegetariškais patiekalais rekomdenduojama praturtinti ir augalinės kilmės produktus
							vartojančių žmonių racioną, mat natūralių įvairių augalinių produktų maistinė verė
							yra nepakeičiama fizinei ir psichologinei gerovei.

						</p>
					</div>
					<div class="col-md-7">
						<div class="video-responsive">
    				<iframe width="560" height="315" src="https://www.youtube.com/embed/D75oziNpQ5M" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="fh5co-parallax" style="background-image: url(foto/vegetarian-food.jpg);" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
						<div class="fh5co-intro fh5co-table-cell">
							<h1 class="text-center">Šiuolaikiški patiekalai</h1>
							<p>Net išrankiausiam skoniui</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="fh5co-section">
			<div class="container">

				<div class="row">
					<div class="col-md-6">
						<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-icon">
								<i class="icon-heart-o"></i>
							</div>
							<div class="fh5co-text">
								<h3>Naminis maistas</h3>
								<p>Pagaminta su meile, mūsų profesionalių virėjų. Mūsų meniu sudarinėjo dietistė Jonė Jonaitė.</p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-icon">
								<i class="icon-lemon-o"></i>
							</div>
							<div class="fh5co-text">
								<h3>Švieži produktai</h3>
								<p>Gamyboje naudojame tik šviežius, ekologiniuose ir natūraliuose ūkiuose išaugintus ar pagamintus produktus. </p>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-icon">
								<i class="icon-table"></i>
							</div>
							<div class="fh5co-text">
								<h3>Sezoniniai patiekalai</h3>
								<p>Sudarydami meniu atsižveliame į sezoniškumą. Pirmiausiai perkame daržoves ir vaisius, atitinkančius sezonus. </p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-icon">
								<i class="icon-glass"></i>
							</div>
							<div class="fh5co-text">
								<h3>Glotnučiai</h3>
								<p>Siūlome įvairiausių kompozicijų glotnučius, skanauti vietoje arba išsinešti. Gaminame naminį riešutų sviestą.</p>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>


		<div class="fh5co-parallax" style="background-image: url(foto/vegetarian-food2.jpg);" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
						<div class="fh5co-intro fh5co-table-cell">
							<h1 class="text-center">Neapsakomai skanu</h1>
							<p>Norisi grįžti dar ir dar</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="fh5co-section">
			<div class="container">

				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-6">
								<h2>Rezervacija</h2>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<p>2017 m. kulinarijos žurnalas "Perfect food" įvertino mūsų restoraną
							ir meniu maksimaliu 10 balų įvertinimu. Mūsų restorano nuotraukos
							buv publikuotos jų metiniame kataloge šalia įžymiausių pasaulio
							restoranų.<p>
					</div>
					<div class="col-md-6">
						<p>Žymiausias pasaulyje kulinaras Jamie Oliver 2016 m. viešėjo Lietuvoje ir
							buvo užsukęs į mūsų restoraną. Svečių knygoje jis įrašė: "Pats puikiausias
							restoranas Lietuvoje. Ačiū, jūs - šaunuoliai!".
						</p>
					</div>
				</div>

			</div>
		</div>

	</div> <!-- END fh5co-wrap -->


	<footer id="fh5co-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h3>Apie mus</h3>
					<p>Esame išskirtinio vegetariško maisto restoranas Vilniuje.</p>
				</div>
				<div class="col-md-3 col-md-push-1">
					<h3>Nuorodos</h3>
					<ul>
						<li><a href="#">Pagrindinis</a></li>
						<li><a href="#">Kolektyvas</a></li>
						<li><a href="#">Paslaugos</a></li>
						<li><a href="#">Blogas</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
				<div class="col-md-3 col-md-push-1">
					<h3>Sekite mus</h3>
					<ul class="fh5co-social">
						<li><a href="#"><i class="icon-twitter"></i> <span>Twitter</span></a></li>
						<li><a href="#"><i class="icon-facebook"></i> <span>Facebook</span></a></li>
						<li><a href="#"><i class="icon-instagram"></i> <span>Instagram</span></a></li>
						<li><a href="#"><i class="icon-google"></i> <span>Google Plus</span></a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 fh5co-copyright text-center">
					<p><small>&copy; 2017. All Rights Reserved. </small></p>
				</div>
			</div>
		</div>
	</footer>

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Stellar -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- MAIN JS -->
	<script src="js/main.js"></script>

	</body>
</html>
