
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Vegetariško maisto restoranas &mdash; Vegetariško maisto restoranas</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords" content="free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />

  <!--
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE
	DESIGNED & DEVELOPED by FreeHTML5.co

	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->


	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>


	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/mystyle.css">


	</head>
	<body>

	<div id="fh5co-wrap">
		<header id="fh5co-header">
			<div class="container">
				<nav class="fh5co-main-nav">
					<ul>
						<li class="fh5co-active"><a href="index.html"><span>Pagrindinis</span></a></li>
						<li><a href="services.html"><span>Paslaugos</span></a></li>
						<li><a href="about.html"><span>Kolektyvas</span></a></li>
						<li><a href="contact.html"><span>Susisiekti</span></a></li>
					</ul>
				</nav>
			</div>
		</header>

		<div class="fh5co-hero" style="background-image: url(foto/vegetariano.jpg);" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
						<div class="fh5co-intro fh5co-table-cell">
							<h1 class="text-center">Vegetariško maisto restoranas</h1>
							<p>Esame tai, ką valgome (Hipokratas)</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fh5co-section">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<h2>Subalansuota augalinė mityba</h2>
						<p>Esame šventai įsitikinę, kad vegetariška mityba gali būti subalansuota
							ir pilnavertė, patenkinanti šiuolaikinio žmogaus aktyvų gyvenimo būdą.
							Vegetariškais patiekalais rekomdenduojama praturtinti ir augalinės kilmės produktus
							vartojančių žmonių racioną, mat natūralių įvairių augalinių produktų maistinė verė
							yra nepakeičiama fizinei ir psichologinei gerovei.

						</p>
					</div>
					<div class="col-md-7">
						<div class="video-responsive">
    				<iframe width="560" height="315" src="https://www.youtube.com/embed/D75oziNpQ5M" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fh5co-parallax" style="background-image: url(foto/vegetarian-food.jpg);" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
						<div class="fh5co-intro fh5co-table-cell">
							<h1 class="text-center">Šiuolaikiški patiekalai</h1>
							<H2 bold>
								<a href="foto/menu.pdf"  target="_blank">MENIU</a>
							</H2>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="fh5co-section">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-icon">
								<i class="icon-heart-o"></i>
							</div>
							<div class="fh5co-text">
								<h3>Naminis maistas</h3>
								<p>Pagaminta su meile, mūsų profesionalių virėjų. Mūsų meniu sudarinėjo dietistė Jonė Jonaitė.</p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-icon">
								<i class="icon-lemon-o"></i>
							</div>
							<div class="fh5co-text">
								<h3>Švieži produktai</h3>
								<p>Gamyboje naudojame tik šviežius, ekologiniuose ir natūraliuose ūkiuose išaugintus ar pagamintus produktus. </p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-icon">
								<i class="icon-table"></i>
							</div>
							<div class="fh5co-text">
								<h3>Sezoniniai patiekalai</h3>
								<p>Sudarydami meniu atsižvelgiame į sezoniškumą. Pirmiausiai perkame daržoves ir vaisius, atitinkančius sezonus. </p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-icon">
								<i class="icon-glass"></i>
							</div>
							<div class="fh5co-text">
								<h3>Glotnučiai</h3>
								<p>Siūlome įvairiausių kompozicijų glotnučius, skanauti vietoje arba išsinešti. Gaminame naminį riešutų sviestą.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="fh5co-parallax" style="background-image: url(foto/vegetarian-food2.jpg);" data-stellar-background-ratio="0.5">
		 <div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
						<div class="fh5co-intro fh5co-table-cell new">
							<h1 class="text-center">Rezervacija</h1>
							<div class="datepicker input-group date" data-provide="datepicker">
								<input type="text" class="form-control" placeholder="Pasirinkite datą">
								  <div class="input-group-addon">
									  <span class="glyphicon glyphicon-th"></span>
								  </div>
						   </div>
							 <div class="reservation-time">
									<select class="input-lg">
										<option value="time1">16:00</option>
										<option value="time2">18:00</option>
										<option value="time3">21:00</option>
								 </select>
							</div>
							<div class="reservation-persons">
									<select class="input-lg">
										<option value="2pers">2 asmenys</option>
										<option value="3pers">3 asmenys</option>
										<option value="4pers">4 asmenys</option>
										<option value="5pers">5 asmenys</option>
										<option value="6pers">6 asmenys</option>
										<option value="7pers">7 asmenys</option>
										<option value="8pers">8 asmenys</option>
										<option value="9pers">9 asmenys</option>
										<option value="10pers">10 asmenų</option>
									</select>
							</div>
							<div class="button-reservate">
							 <button type="button" class="btn btn-success btn-md" onclick="alert('Rezervuota!')">Rezervuoti</button>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>

		<div class="fh5co-section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-6">
								<h2>Įvertintas skonis</h2>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<p>2017 m. kulinarijos žurnalas "Perfect food" įvertino mūsų restoraną
							ir meniu maksimaliu 10 balų įvertinimu. Mūsų restorano nuotraukos
							buvo publikuotos metiniame kataloge šalia įžymiausių pasaulio
							restoranų.<p>
					</div>
					<div class="col-md-6">
						<p>Žymiausias pasaulyje kulinaras Jamie Oliver 2016 m. viešėjo Lietuvoje ir
							buvo užsukęs į mūsų restoraną. Svečių knygoje jis įrašė: "Pats puikiausias
							restoranas Lietuvoje. Ačiū, jūs - šaunuoliai!".
						</p>
					</div>
				</div>
			</div>
		</div>

	</div> <!-- END fh5co-wrap -->

	<footer id="fh5co-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
				 <section class="subscribe">
					<h3>Naujienlaiškis</h3>
					<p>Sekite mūsų naujienas ir receptus.</p>
				  <form action="index.html" method="post" class="subscribe-form">
					 <input type="email" name="email" class="subscribe-input" placeholder="El. pašto adresas" autofocus>
					 <button type="submit" class="subscribe-submit" onclick="alert('Naujienos užsakytos!')">Užsakyti</button>
				  </form>
			   </section>
			  </div>

				<div class="col-md-3 col-md-push-1">
					<h3>Nuorodos</h3>
					<ul>
						<li><a href="#">Pagrindinis</a></li>
						<li><a href="#">Receptai</a></li>
						<li><a href="#">Kolektyvas</a></li>
						<li><a href="#">Blogas</a></li>
						<li><a href="#">Susisiekime</a></li>
					</ul>
				</div>

				<div class="col-md-3 col-md-push-1">
					<h3>Sekite mus</h3>
					 <ul class="fh5co-social">
						<li><a href="#"><i class="icon-twitter"></i> <span>Twitter</span></a></li>
						<li><a href="#"><i class="icon-facebook"></i> <span>Facebook</span></a></li>
						<li><a href="#"><i class="icon-instagram"></i> <span>Instagram</span></a></li>
						<li><a href="#"><i class="icon-google"></i> <span>Google Plus</span></a></li>
					</ul>
				</div>
			</div>
		 <div class="row">
	  </div>
	 </div>
	</footer>

	<!-- jQuery -->
	<script src="js/jquery-3.2.1.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>

	<script type="text/javascript">
		$('.date').datepicker({
			format: 'yyyy-mm-dd',
			daysOfWeekDisabled: [1,2],
			startDate: new Date(),
			weekStart: 1
		});
	</script>

	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Stellar -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- MAIN JS -->
	<script src="js/main.js"></script>

	<script src="" charset="utf-8"></script>


	</body>

</html>
